    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        ul,
        li {
            list-style: none;
        }
    </style>
<style>
    .cut-3d,.cut-header,.cut-header-content{display:flex;width:100%}.cut-disruptive-title span,.cut-why-choose-subtitle span{-webkit-text-fill-color:#FC0}.cut-content,.cut-early-list,.cut-header{font-family:Assistant}.cut-3d{height:100vh;background-color:#333;justify-content:center;align-items:center;color:#fff}.cut-mtp{margin-top:24px}.cut-header{height:100vh;position:relative;align-items:center;background:linear-gradient(0deg,#000 0,#000 100%),url(https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Rectangle_883-min.jpg) 50%/cover no-repeat #d3d3d3}.cut-video-background{position:absolute;transform:translateY(-50%);top:50%;left:50%;max-width:700px;width:100%;height:auto;object-fit:cover;z-index:1;opacity:1}.cut-video-background.fade-out{opacity:0}.cut-header-content{max-width:1280px;margin:0 auto;padding:0 48px;z-index:2;gap:70px}.cut-header-none{max-width:490px;flex:1;display:block}.cut-header-word{max-width:650px}.cut-header-word-price .cut-price-left p,.cut-header-word-price .cut-price-right p,.cut-title{background:linear-gradient(103deg,#8bceff 0,#ffd5bb 100%);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:#fff0;font-style:normal;line-height:125%}.cut-header-word-subtitle{font-size:24px;font-weight:400}.cut-header-word-title{color:#fbcb05;font-size:48px;font-style:normal;font-weight:700;line-height:125%}.cut-header-word-id{font-size:22px;font-weight:300}.cut-header-word-del{display:flex;color:#fff;gap:12px;flex-wrap:wrap}.cut-header-word-item{max-width:33.33%;flex:auto}.cut-header-word-del .cut-svg{width:50px;height:50px;border-radius:25px;border:1.471px solid #715b57;background:linear-gradient(180deg,#080607 0,#594c44 100%);display:flex;align-items:center;justify-content:center}.cut-header-word-del-top{display:flex;align-items:center;gap:8px;margin-bottom:9px}.cut-header-word-del-top p{font-size:20px;font-style:normal;font-weight:800;line-height:125%}.cut-header-word-price{display:flex;gap:20px;align-items:center}.cut-header-word-price .cut-price-left{font-style:normal;display:flex;align-items:baseline}.cut-header-word-price .cut-price-left span{color:#fc0;font-size:60px;font-weight:800}.cut-header-word-price .cut-price-left i{font-size:20px;line-height:125%;font-style:normal;font-weight:600}.cut-header-word-price .cut-price-right{font-size:18px;font-style:normal;font-weight:600;position:relative;text-align:left}.cut-price-right p{position:relative}.cut-price-right p:last-child{font-weight:300;margin-top:4px}.cut-header-word-price .cut-price-right .line{width:100%;height:1px;background:linear-gradient(103deg,#8bceff 0,#ffd5bb 100%);position:absolute;left:0;bottom:50%}.cut-header-word-btn{margin-bottom:24px;border-radius:10px;max-width:364px;padding:14px;background:linear-gradient(180deg,rgba(255,255,255,.15) 0,rgba(255,204,0,.15) 100%)}.cut-header-word-down{display:flex;justify-content:space-around;align-items:center;color:#fff;margin-bottom:12px}.cut-header-people-box{color:#fc0;text-align:center;font-style:normal;line-height:130%}.cut-header-people-box p{font-size:36px;font-weight:600}.cut-header-people-box p i,.cut-header-people-box span,.cut-word-box-right{font-size:12px;font-weight:400;font-style:normal}.cut-down-number-item p,.cut-hurry-offer{font-weight:500;margin-bottom:6px;line-height:130%;font-style:normal}.cut-header-people-box span,.cut-word-box-right{color:#fff;text-align:center;line-height:130%}.cut-header-people-box span{width:max-content;display:block;margin-top:8px}.cut-hurry-offer{color:#fff;font-size:10px;text-align:center}.cut-hurry-offer span{color:#fc0;font-size:14px;display:inline-block;animation:.6s ease-in-out 2s infinite jumpBounce}@keyframes jumpBounce{0%,100%{transform:translateY(0)}30%{transform:translateY(-8px)}50%{transform:translateY(2px)}70%{transform:translateY(-4px)}}.cut-down-number-list{display:flex}.cut-down-number-item{color:#fc0;text-align:center;display:flex;align-items:center;justify-content:center;flex-direction:column}.cut-count-down-minutes::before,.cut-count-down-seconds::before{content:':';margin-right:4px}.cut-down-number-item p{color:#fc0;font-size:26px}.cut-down-number-item span{color:#fff;font-style:normal;font-size:10px;font-weight:400;line-height:130%}.cut-header-word-btn a,.fixed-btn{text-decoration:none;display:flex;height:45px;min-width:150px;padding:10px 32px;justify-content:center;align-items:center;gap:10px;border-radius:4px;background:#fc0;color:#000;font-size:14px;font-style:normal;font-weight:600;line-height:normal;text-transform:capitalize;animation:1s ease-in-out 3s infinite glow}.cut-sharpening-right p,.cut-sharpening-right span{font-style:normal;line-height:150%;text-transform:capitalize}@keyframes shake{0%,100%{transform:translateX(0)}25%{transform:translateX(-2px)}50%{transform:translateX(2px)}75%{transform:translateX(-1px)}}@keyframes glow{0%,100%{box-shadow:none}50%{box-shadow:0 0 20px rgba(255,204,0,.6)}}.fixed-btn{display:none;position:fixed;bottom:40px;left:50%;transform:translateX(-50%);z-index:100000;text-align:center;animation:.8s ease-in-out 3s infinite glow}.cut-header-word-btn a span,.fixed-btn span{font-size:24px;font-weight:800}.cut-header-word-btn-return{color:#fff;font-size:14px;font-style:normal;font-weight:400;line-height:125%;display:flex;align-items:center;gap:12px}.cut-header-word-btn-return img{width:24px}.cut-header-word-btn-return p{display:flex;align-items:center;gap:4px}.cut-fast-title span,.cut-header-word-btn-return span,.cut-word-layout .title span{color:#fc0}.cut-content{max-width:1280px;margin:50px auto;padding:0 48px}.cut-content:first-of-type{margin-top:0}.cut-content .full-video{width:100%;height:auto;margin-bottom:32px;border-radius:10px}.cut-sharpening{display:flex;align-items:center;justify-content:space-between;gap:45px}.cut-sharpening-title{color:#000;font-size:36px;font-style:normal;font-weight:700;line-height:normal;text-transform:uppercase}.cut-sharpening-line{width:1px;height:74px;background-color:#eee}.cut-sharpening-right{display:flex;flex-direction:column}.cut-sharpening-right p{color:#000;font-size:24px;font-weight:600}.cut-sharpening-right span{color:#000;font-size:16px;font-weight:300;display:block;margin-bottom:14px}.cut-sharpening-right img{max-width:110px}.cut-early-img-mo,.cut-header-word-title-pad,.cut-sharpening-right img.pad{display:none}.cut-full-content{width:100%;padding:96px 0;background:#141414}.cut-full-content.black{background:#000;padding:55px 0}.cut-full-content.bg-img,.cut-full-content.bg-img-bottom{background-size:cover;background-position:center bottom;background-repeat:no-repeat}.cut-disruptive-title{font-size:48px;font-weight:600;max-width:567px;margin:0 auto;text-align:center}.cut-disruptive-title span{color:#fc0;font-size:52px;font-weight:700;line-height:100%;background-color:#fff0}.cut-disruptive-subtitle{color:#fff;text-align:center;font-size:24px;font-style:normal;font-weight:400;line-height:216.667%}.cut-fast-title,.cut-word-layout .title{font-size:36px;font-style:normal;text-transform:capitalize}.cut-disruptive-subtitle span{color:#fc0;position:relative}.cut-disruptive-subtitle img{width:100%;height:auto;position:absolute;left:0;bottom:0;transform:translateY(40%)}.cut-left-right-layout{display:flex;margin-top:96px;padding:48px 0;align-items:center;gap:100px}.cut-left-right-layout.between{justify-content:space-between}.cut-word-layout .title{color:#fff;font-weight:600;line-height:125%;max-width:300px;margin-bottom:32px}.cut-word-list li{position:relative;color:#fc0;font-size:20px;font-style:normal;font-weight:700;line-height:125%;display:flex;margin-bottom:12px}.cut-word-list li::before{content:"•";color:#fc0;font-size:1.4em;line-height:80%;margin-right:4px;height:100%;display:block}.cut-word-list p{color:#fff;font-size:16px;font-style:normal;font-weight:400;line-height:125%;margin-top:4px}.cut-video-layout{max-width:600px;height:auto;border-radius:10px}.cut-fast-title{text-align:center;color:#fff;font-weight:600;line-height:28px;letter-spacing:-.4px}.cut-early-list,.cut-in-the-box{font-style:normal;line-height:125%}.cut-fast-img{margin:96px auto 0;max-width:1280px;display:block;width:100%}.cut-content.white{margin:96px auto;display:flex;justify-content:space-between}.cut-in-the-box{max-width:490px;color:rgb(0 0 0 / .85)}.cut-in-the-box img{width:100%;margin-bottom:40px}.cut-in-the-box p{font-size:32px;font-weight:600;letter-spacing:-.96px;margin-bottom:40px}.cut-in-the-box span{font-size:16px;font-weight:400}.cut-img-list{display:flex;flex-wrap:wrap;gap:8px;max-width:592px}.cut-img-item{max-width:calc(33.3333% - 6px);border-radius:4px;background:rgb(0 0 0 / .04);padding:16px;display:flex;flex-direction:column;justify-content:space-between}.cut-img-item img,.left-img img,.right-video video{width:100%}.cut-img-item p{color:rgb(0 0 0 / .85);font-size:14px;font-style:normal;font-weight:400;line-height:20px;letter-spacing:-.28px;max-width:136px}.cut-full-content.bg-img{height:100vh;display:flex;justify-content:center;align-items:center;background-image:url(https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Frame_8692-min.jpg?v=1743756867)}.cut-full-content.bg-img .cut-header-word{max-width:700px}.cut-early-list{color:#fff;font-size:22px;font-weight:300;margin:24px 0;display:flex;flex-direction:column;gap:24px}.cut-why-choose,.cut-why-choose-subtitle{text-align:center;font-weight:600;line-height:52px;font-style:normal}.cut-early-list li{position:relative;width:fit-content}.cut-early-list span{font-weight:700;color:#fc0}.cut-early-list .cut-arrow-img{position:absolute;right:0;bottom:-10px;max-width:260px;transform:translateX(100%)}.cut-why-choose{font-size:48px;margin-bottom:24px}.cut-why-choose-subtitle{font-size:24px;margin-bottom:32px}.cut-why-choose-layout{display:flex;margin-bottom:96px}.left-img,.right-video{flex:1;position:relative}.cut-how-to-change{position:absolute;top:330px;left:0;padding:24px;display:flex;flex-direction:column;color:#fff;font-size:20px;font-style:normal;font-weight:700;line-height:125%}.cut-bottom-word-subtitle,.cut-bottom-word-title{font-weight:600;margin-bottom:20px;color:#333;line-height:125%}.cut-how-to-change.right{left:auto;right:0;text-align:right}.cut-how-to-change .icon{width:50px;height:50px;margin-bottom:15px}.cut-how-to-change.right .icon{margin-left:auto}.cut-how-to-change.right span{font-size:24px;color:#fff;max-width:400px}.cut-how-to-change.right p{color:#fc0;font-size:30px;font-style:normal;font-weight:700;line-height:125%}.cut-full-content.bg-img-bottom{height:100vh;font-family:Assistant;font-style:normal;display:flex;justify-content:center;align-items:center;background-image:url(https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Frame_8832-min.jpg)}.cut-bottom-word-title{font-size:42px}.cut-bottom-word-subtitle{font-size:24px}.cut-early-list-bottom{color:#333;font-size:18px;font-weight:400;line-height:125%}.cut-bottom-word-subtitle span,.cut-bottom-word-title span,.cut-early-list-bottom span,.cut-full-content.bg-img-bottom .cut-down-number-item,.cut-full-content.bg-img-bottom .cut-down-number-item p,.cut-full-content.bg-img-bottom .cut-down-number-item span,.cut-full-content.bg-img-bottom .cut-header-people-box,.cut-full-content.bg-img-bottom .cut-header-people-box span,.cut-full-content.bg-img-bottom .cut-header-word-btn-return span,.cut-full-content.bg-img-bottom .cut-hurry-offer span{color:#298def}.cut-full-content.bg-img-bottom .cut-header-word-price .cut-price-right,.cut-full-content.bg-img-bottom .cut-price-left p{-webkit-text-fill-color:#333}.cut-full-content.bg-img-bottom .cut-header-word-price .cut-price-right .line{background:#333}.cut-full-content.bg-img-bottom .cut-header-word-btn{background:rgba(41,141,239,.11)}.cut-full-content.bg-img-bottom a{color:#fff;background:#298def}.cut-full-content.bg-img-bottom .cut-header-word-btn-return{color:#333}.cut-full-content.bg-img-bottom .cut-down-number-item span,.cut-full-content.bg-img-bottom .cut-hurry-offer{color:#000}@media screen and (max-width:1024px){.cut-header{padding:40px;flex-direction:column;justify-content:space-around}.cut-mtp{margin-top:12px}#videoContainer{width:100%;min-height:420px;height:max-content}.cut-header-none,.cut-header-word-title,.cut-sharpening-line,.cut-sharpening-right img.pc{display:none}.cut-header-word-title-pad{text-align:left;color:#fbcb05;font-size:26px;font-style:normal;font-weight:700;line-height:125%;display:block;width:100%;margin-bottom:8px}.cut-video-background{position:relative;width:100%;height:auto;top:0;transform:translateY(0);left:0;max-width:100%}.cut-header-content{padding:8px 0;gap:0}.cut-header-word{max-width:100%}.cut-header-word-subtitle{font-size:18px;margin-bottom:8px}.cut-header-word-id,.cut-how-to-change,.cut-how-to-change.right span{font-size:14px}.cut-header-word-item{width:calc(33.3333% - 8px)}.cut-header-word-down{gap:20px}.cut-early-list-bottom,.cut-header-word-del-top p,.cut-header-word-price .cut-price-left i,.cut-header-word-price .cut-price-right{font-size:16px}.cut-header-word-price .cut-price-left span{font-size:40px}.cut-header-word-btn{max-width:100%;display:flex;flex-direction:column;align-items:center}.cut-header-word-btn a,.fixed-btn{min-width:318px}.cut-header-word-btn-return{text-align:center;justify-content:center}.cut-sharpening-title{width:100%;display:flex;font-size:24px;justify-content:space-between;align-items:center}.cut-left-right-layout.between,.cut-sharpening{flex-direction:column}.cut-sharpening{gap:24px}.cut-sharpening-right img.pad{display:block}.cut-full-content{padding:60px 0}.cut-disruptive-title,.cut-fast-title{font-size:24px}.cut-disruptive-title span{font-size:30px}.cut-left-right-layout{flex-direction:column-reverse;margin-top:60px;padding:0;gap:24px}.cut-content{padding:0 40px}.cut-word-layout{width:100%}.cut-video-layout,.cut-word-layout .title{max-width:100%;font-size:26px}.cut-word-layout .title{margin-bottom:24px}.cut-word-list{display:flex}.cut-fast-img{width:80%}.cut-content.white{flex-direction:column;margin:60px auto}.cut-in-the-box{max-width:100%;margin-bottom:32px}.cut-in-the-box img,.cut-in-the-box p{margin-bottom:16px}.cut-img-list{max-width:100%;gap:12px}.cut-full-content.bg-img .cut-header-word-title{display:block;font-size:24px}.cut-early-list{font-size:16px;gap:12px}.cut-img-item{max-width:calc(25% - 9px)}.cut-full-content.bg-img{height:410px;padding:60px 40px;justify-content:flex-start}.cut-early-list .cut-arrow-img{max-width:200px}.cut-why-choose{font-size:24px;line-height:125%}.cut-why-choose-subtitle{font-size:16px;line-height:125%}.cut-how-to-change{top:auto;bottom:0}.cut-bottom-word-subtitle,.cut-how-to-change.right p{font-size:18px}.cut-full-content.bg-img-bottom{padding:60px 40px;height:auto;justify-content:start;background-image:url(https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Frame_8832pad-min.jpg?v=1744383860)}.cut-bottom-word-title{font-size:26px}}@media screen and (max-width:767px){#videoContainer{min-height:auto}.cut-mtp{margin-top:8px}.cut-content,.cut-content.white{margin:40px auto}.cut-header{padding:12px 24px}.cut-content{padding:0 24px}.cut-header-people-box p{font-size:24px}.cut-header-word-title-pad{font-size:20px}.cut-header-word-del{gap:8px}.cut-header-word-del .cut-svg{width:35px;height:35px}.cut-header-word-del-top p{font-size:12px}.cut-header-word-btn{margin-bottom:8px;padding:10px}.cut-down-number-item p{font-size:14px}.cut-down-number-item span,.cut-header-people-box span{font-size:8px}.cut-disruptive-title{margin-bottom:16px}.cut-sharpening-title img{width:110px}.cut-full-content{padding:40px 0}.cut-disruptive-subtitle{font-size:16px}.cut-left-right-layout{margin-top:40px}.cut-word-list{flex-direction:column}.cut-word-list li{font-size:18px}.cut-full-content.black{padding:12px 0}.cut-fast-title{padding:0 24px;z-index:2;position:relative}.cut-fast-img{width:100%;margin-top:0;transform:translateY(-30px);z-index:1}.cut-img-list{gap:16px}.cut-img-item{max-width:calc(50% - 8px)}.cut-why-choose-layout{flex-direction:column;margin-bottom:40px}.cut-full-content.bg-img-bottom{padding:24px;height:80vh;width:100%;background-position:right;align-items:start;justify-content:center;background-image:url(https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Frame_8832mobile-min.jpg?v=1744383859)}.cut-full-content.bg-img{padding:24px;background-position:center;background-repeat:no-repeat;background-size:cover;height:100vh;background-image:url("https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Frame_8958-min.jpg")}.cut-full-content.bg-img .cut-header-word{max-width:100%;height:100%;display:flex;flex-direction:column}.cut-early-img-mo{display:block;width:100%;margin-top:auto}.cut-full-content.bg-img .cut-header-word-btn{margin-top:auto}.cut-header-word-btn-return{font-size:10px;flex-wrap:wrap;gap:4px}.cut-header-word-btn-return p{width:40%}.cut-early-list .cut-arrow-img{transform:translateX(0);bottom:-48px;width:140px}}
</style>
    <!-- block 1 DOM -->
    <div class="cut-header">
        <p class="cut-header-word-title-pad">Razor-Sharp in Just 2 Minutes! </p>
        <!-- <video id="videoPlayer1"
           poster="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/jpg-min.jpg?v=1743927956"
           class="cut-video-background" playsinline muted autoplay preload="auto" webkit-playsinline loop>
           <source src="https://cdn.shopify.com/videos/c/o/v/a9a4cd0e0b374bf09f7eac8ad91cb6d8.mp4" type="video/mp4">

       </video> -->
        <div id="videoContainer"></div>

        <div class="cut-header-content">
            <div class="cut-header-word">

                <p class="cut-header-word-title">Razor-Sharp in Just 2 Minutes! </p>
                <p class="cut-header-word-subtitle cut-title">Precision Kitchen Knife Sharpener </p>
                <span class="cut-header-word-id cut-title">(Patent No. US
                    D1067745S)</span>
                <div class="cut-header-word-del cut-mtp">
                    <div class="cut-header-word-item">
                        <div class="cut-header-word-del-top">
                            <img loading="lazy" decoding="async"
                                src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Precision_Kitchen_Knife_Sharpener3-min.png?v=1743764891"
                                class="cut-svg" alt="1000x Sharpening">
                            <p>1000x Sharpening</p>
                        </div>

                    </div>
                    <div class="cut-header-word-item">
                        <div class="cut-header-word-del-top">
                            <img loading="lazy" decoding="async"
                                src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Precision_Kitchen_Knife_Sharpener-min.png?v=1743764891"
                                class="cut-svg" alt="Fit ≤ 330mm">
                            <p>Fit ≤ 330mm</p>
                        </div>

                    </div>
                    <div class="cut-header-word-item">
                        <div class="cut-header-word-del-top">
                            <img loading="lazy" decoding="async"
                                src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Precision_Kitchen_Knife_Sharpener5-min.png?v=1743764891"
                                class="cut-svg" alt="4-Axis Rail">
                            <p>4-Axis Rail</p>
                        </div>

                    </div>
                    <div class="cut-header-word-item">
                        <div class="cut-header-word-del-top">
                            <img loading="lazy" decoding="async"
                                src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Precision_Kitchen_Knife_Sharpener1.png?v=1743313194"
                                class="cut-svg" alt="Angle 10-30°">
                            <p>Angle 10-30°</p>
                        </div>

                    </div>
                    <div class="cut-header-word-item">
                        <div class="cut-header-word-del-top">
                            <img loading="lazy" decoding="async"
                                src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Precision_Kitchen_Knife_Sharpener4-min.png?v=1743764891"
                                class="cut-svg" alt="1s Flip Clamp">
                            <p>1s Flip Clamp</p>
                        </div>
                    </div>

                </div>
                <div class="cut-header-word-price cut-mtp">
                    <div class="cut-price-left">
                        <span><i>$</i>179</span>
                    </div>
                    <div class="cut-price-right">
                        <p>Early Bird Price </p>
                        <p>299 0riginal Price<span class="line"></span></p>
                    </div>

                </div>
                <div class="cut-header-word-btn cut-mtp">
                    <div class="cut-header-word-down">
                        <div class="cut-header-people-box">

                            <p>100 <i>Left</i></p>
                            <span>0nly 108 Slots Remaining!</span>

                        </div>
                        <div class="cut-header-word-box">
                            <div class="cut-hurry-offer"><span>Hurry!</span> offer Ends in</div>
                            <div class="cut-down-number-list">
                                <div class="cut-down-number-item">
                                    <p class="cut-count-down-hours">00</p>
                                    <span>Hours</span>
                                </div>
                                <div class="cut-down-number-item">
                                    <p class="cut-count-down-minutes">00</p>
                                    <span>Mins</span>
                                </div>
                                <div class="cut-down-number-item">
                                    <p class="cut-count-down-seconds">00</p>
                                    <span>Secs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://ricktest12.myshopify.com/cart/{{ first_variant.id }}:1"><span>$1</span>
                        Deposit | Claim Your Slot Now</a>

                </div>
                <div class="cut-header-word-btn-return">
                    <p><img loading="lazy" decoding="async"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/July_1_Delivery.png?v=1744530441"
                            alt="Juy1"><span>Juy1</span>Delivery</p>
                    <p><img loading="lazy" decoding="async"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/80-Day_Free_Returns.png?v=1744530441"
                            alt="80-Day Free Returns"><span>80-Day</span> Free Returns</p>
                    <p><img loading="lazy" decoding="async"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/2-Year_Warranty.png?v=1744530441"
                            alt="2-Year Warranty"><span>2-Year </span> Warranty</p>
                    <p><img loading="lazy" decoding="async"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/us_Ships_from_uS.png?v=1744530441"
                            alt="">us: Ships from uS</p>
                </div>
            </div>
            <div class="cut-header-none">&nbsp;<span></span></div>
        </div>
    </div>
    <a href="#" class="fixed-btn"><span>$1</span> Deposit | Claim Your Slot Now</a>

    <!-- block 2 DOM -->
    <div class="cut-content">
        <video loop class="full-video" playsinline muted autoplay preload="auto">
            <source src="https://cdn.shopify.com/videos/c/o/v/57de17c88a30406396b38ca3a20e68dc.webm" type="video/mp4">
        </video>
        <div class="cut-sharpening">
            <p class="cut-sharpening-title">Sharpening Master? That’s You. <img class="pad" loading="lazy"
                    decoding="async"
                    src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Real_Users._Real_Results.-min.png?v=1743737981"
                    alt="Real Users. Real Results."></p>
            <div class="cut-sharpening-line"></div>
            <div class="cut-sharpening-right">
                <p>Real Users. Real Results.</p>
                <span>In early testing, real users put our sharpener to the test — and the feedback says it all. From
                    chipped knives to dull scissors, they were amazed by the speed, sharpness, and precision.
                    <br> “Took my dull cleaver to razor-sharp in under 3 minutes.”
                    <br> “Fixed a chipped blade like new. Even sharpened my
                    scissors.”
                    <br> “The angle control is just... chef’s kiss. So smooth.”
                    <br>“Sharpened my super steel knife without a scratch.”Watch the clips — no actors, no scripts. Just
                    honest results.</span>
                <img class="pc" loading="lazy" decoding="async"
                    src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Real_Users._Real_Results.-min.png?v=1743737981"
                    alt="Real Users. Real Results.">
            </div>
        </div>
    </div>
    <div class="cut-3d">
        <h3>3D</h3>
    </div>
    <!-- block 3 DOM -->
    <div class="cut-full-content">
        <div class="cut-content">
            <p class="cut-disruptive-title cut-title"> <span>6 Disruptive</span> Innovations <br>
                for Faster Sharpening</p>
            <p class="cut-disruptive-subtitle"> Patent:<span>US D1067745S<img
                        src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/US_D1067745S-min.png?v=1743745136"
                        alt="US D1067745S"> </span>.（Verified ）</p>

            <div class="cut-left-right-layout between">
                <div class="cut-word-layout">
                    <p class="title"><span>3-Stage</span> Sharpening for All Edge Needs</p>
                    <ul class="cut-word-list">
                        <li>
                            <div>
                                <span>500 Grit</span>
                                <p>Stage 1 — Chip Repair & Meat Prep</p>
                            </div>
                        </li>
                        <li>
                            <div><span>1000 Grit</span>
                                <p>Stage 2 — Micro-Toothing for Veggies</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Leather Strop</span>
                                <p>Stage 3 — Burr Removal & Razor Edge</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <video loop class="cut-video-layout" playsinline muted autoplay preload="auto">
                    <source src="https://cdn.shopify.com/videos/c/o/v/babac5b04f514e329e90ac211fa25e8a.mp4"
                        type="video/mp4">
                </video>
            </div>
            <div class="cut-left-right-layout">
                <video loop class="cut-video-layout" playsinline muted autoplay preload="auto">
                    <source src="https://cdn.shopify.com/videos/c/o/v/e7b6535a0ee54b1686855f44e80d3477.mp4"
                        type="video/mp4">
                </video>
                <div class="cut-word-layout">
                    <p class="title"><span> Sintered Diamond</span> 100x More Durable ThanElectroplated</p>
                    <ul class="cut-word-list">
                        <li>
                            <div>
                                <span>1000+ Uses</span>
                                <p>Dual 4mm Plates</p>
                            </div>
                        </li>
                        <li>
                            <div><span>3-Stroke </span>
                                <p>Burr</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Super Steels</span>
                                <p>Easily Sharpened</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="cut-left-right-layout between">
                <div class="cut-word-layout">
                    <p class="title"><span>Pro Clamp </span> Locks In for Precision</p>
                    <ul class="cut-word-list">
                        <li>
                            <div>
                                <span>Symmetric clamping</span>
                                <p>Even Bevels on Both Sides </p>
                            </div>
                        </li>
                        <li>
                            <div><span>1s Flip</span>
                                <p>No Blade Removal Needed</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>22 lbs Magnetic Force</span>
                                <p>Rock-Solid Clamping Stability</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>330mm Compatible</span>
                                <p>Supports All Kitchen Knives & Shears</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <video loop class="cut-video-layout" playsinline muted autoplay preload="auto">
                    <source src="https://cdn.shopify.com/videos/c/o/v/19c55f109f9547a690ed53f203dc832e.mp4"
                        type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="cut-full-content black">
        <p class="cut-fast-title"><span>3s</span> Angle Adjustment — Fast & Precise</p>

        <picture>
            <source media="(max-width: 767px)"
                srcset="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/3s_Angle_Adjustment_Fast_Precise-mo.jpg?v=1744438408" />

            <img loading="lazy" decoding="async" class="cut-fast-img"
                src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/3s_Angle_Adjustment_Fast_Precise.png?v=1743747429"
                alt="3s Angle Adjustment — Fast & Precise" />
        </picture>

    </div>
    <div class="cut-full-content">
        <div class="cut-content">
            <div class="cut-left-right-layout">
                <video loop class="cut-video-layout" playsinline muted autoplay preload="auto">
                    <source src="https://cdn.shopify.com/videos/c/o/v/94710bcc5cda4c018efbb26d8d30dedc.mp4"
                        type="video/mp4">
                </video>
                <div class="cut-word-layout">
                    <p class="title"><span> Smooth like</span><br>
                        a german gearbox</p>
                    <ul class="cut-word-list">
                        <li>
                            <div>
                                <span>4-Axis Dual Rails</span>
                                <p>Silent, Smooth Motion</p>
                            </div>
                        </li>
                        <li>
                            <div><span>2 Lock Rods</span>
                                <p>Zero Wobble & Rock-Solid Grip</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>385-575mm Extendable Arm</span>
                                <p>Fits Most Sink Sizes</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>4 Locking Screws</span>
                                <p>Anti-Slip, Table-Stable Setup</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="cut-left-right-layout between">
                <div class="cut-word-layout">
                    <p class="title"><span>Premium Build</span>
                        Durable.Worry-Free</p>
                    <ul class="cut-word-list">
                        <li>
                            <div>
                                <span>Quick Rinse</span>
                                <p>Anodized for Easy Cleanup</p>
                            </div>
                        </li>
                        <li>
                            <div><span>6061 + 304 Stainless Steel</span>
                                <p>Rustproof, Long-Lasting Build</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <video loop class="cut-video-layout" playsinline muted autoplay preload="auto">
                    <source src="https://cdn.shopify.com/videos/c/o/v/5223edc428864c35b94ea5befacd24be.mp4"
                        type="video/mp4">
                </video>
            </div>

        </div>
    </div>



    <!-- block 4 DOM -->
    <div class="cut-content white">
        <div class="cut-in-the-box">
            <img loading="lazy" decoding="async"
                src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/In_the_Box.jpg" alt="In the Box">
            <p>In the Box</p>
            <span>From quick touch-ups to fully customized grinds, experience elite-level performance and
                freedom. <br>
                Co-developed with knife-making legend Ken Onion, this sharpener lets you hone your blades
                like a true
                professional.</span>
        </div>
        <div class="cut-img-list">
            <div class="cut-img-item">
                <p>Dual-Sided Diamond Sharpening Stone</p>
                <img loading="lazy" decoding="async"
                    src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/In_the_Box1.png?v=1"
                    alt="Dual-Sided Diamond Sharpening Stone">
            </div>
            <div class="cut-img-item">
                <p>Scissor Clamp</p>
                <img loading="lazy" decoding="async"
                    src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/In_the_Box2.png?v=1"
                    alt="Scissor Clamp">
            </div>
            <div class="cut-img-item">
                <p>Leather Strop</p>
                <img loading="lazy" decoding="async"
                    src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/In_the_Box3.png?v=1"
                    alt="Leather Strop">
            </div>
            <div class="cut-img-item">
                <p>Knife Sharpener</p>
                <img loading="lazy" decoding="async"
                    src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/In_the_Box4.png?v=1"
                    alt="Knife Sharpener">
            </div>
            <div class="cut-img-item">
                <p>Digital Angle Gauge</p>
                <img loading="lazy" decoding="async"
                    src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/In_the_Box5.png?v=1"
                    alt="Digital Angle Gauge">
            </div>
            <div class="cut-img-item">
                <p>Water Spray Bottle</p>
                <img loading="lazy" decoding="async"
                    src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/In_the_Box6.png?v=1"
                    alt="Water Spray Bottle">
            </div>
            <div class="cut-img-item">
                <p>Wooden Stone Storage Box</p>
                <img loading="lazy" decoding="async"
                    src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/In_the_Box7.png?v=1"
                    alt="Wooden Stone Storage Box">
            </div>
            <div class="cut-img-item">
                <p>Maintenance Kit</p>
                <img loading="lazy" decoding="async"
                    src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/In_the_Box8.png?v=1"
                    alt="Maintenance Kit">
            </div>
        </div>
    </div>




    <!-- block 5 DOM -->
    <div class="cut-full-content bg-img">
        <div class="cut-header-word">
            <p class="cut-header-word-title">Save 50% — Early Bird Offer</p>
            <ul class="cut-early-list">
                <li><span>100</span> Early Bird Spots</li>
                <li><span>50</span> First Double-Sided 6mm Diamond Stone（$40 Value）
                    <picture>
                        <source media="(max-width: 767px)"
                            srcset="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Frame_8898-min.png" />

                        <img loading="lazy" decoding="async" class="cut-arrow-img"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Frame_8868-min.png?v=1"
                            alt="50 First Double-Sided 6mm Diamond Stone（$40 Value）" />
                    </picture>

                </li>
                <li><span>90</span>-Day Trial — Free Returns</li>
            </ul>
            <img class="cut-early-img-mo"
                src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/image-min.png?v=1744452091"
                alt="Save 50% — Early Bird Offer">
            <div class="cut-header-word-btn cut-mtp">
                <div class="cut-header-word-down">
                    <div class="cut-header-people-box">

                        <p>100 <i>Left</i></p>
                        <span>0nly 108 Slots Remaining!</span>

                    </div>
                    <div class="cut-header-word-box">
                        <div class="cut-hurry-offer"><span>Hurry!</span> offer Ends in</div>
                        <div class="cut-down-number-list">
                            <div class="cut-down-number-item">
                                <p class="cut-count-down-hours">00</p>
                                <span>Hours</span>
                            </div>
                            <div class="cut-down-number-item">
                                <p class="cut-count-down-minutes">00</p>
                                <span>Mins</span>
                            </div>
                            <div class="cut-down-number-item">
                                <p class="cut-count-down-seconds">00</p>
                                <span>Secs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#"><span>$1</span> Deposit | Claim Your Slot Now</a>
            </div>
            <div class="cut-header-word-btn-return"><span>Juy1 </span> Delivery.90-Day Return .1-Year Warranty</div>




        </div>
        <div class="cut-header-none">&nbsp;<span></span></div>
    </div>



    <!-- block 6 DOM -->
    <div class="cut-full-content black">
        <div class="cut-content">
            <p class="cut-title cut-why-choose">Why Choose Our Sharpener?</p>
            <p class="cut-title cut-why-choose-subtitle"> <span>5 Problems</span>, One Solution — We Fixed Them All</p>
            <div class="cut-why-choose-layout">
                <div class="left-img">
                    <img loading="lazy" decoding="async"
                        src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Why_Choose_Our_Sharpener1-min.jpg?v=1743749733"
                        alt="1.Still Dull After Sharpening?">
                    <div class="cut-how-to-change left">
                        <img loading="lazy" decoding="async" class="icon"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/no-min.png?v=1743749733"
                            alt="no">
                        <span>1.Still Dull After Sharpening?</span>
                    </div>
                </div>
                <div class="right-video">
                    <video loop playsinline muted autoplay preload="auto"
                        poster="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Why_Choose_Our_Sharpener1-right.jpg?v=1743750946"
                        class="cut-lazy-video"
                        data-src="https://cdn.shopify.com/videos/c/o/v/5c78273f73da477db1e2fa1444075957.mp4">
                    </video>
                    <div class="cut-how-to-change right">
                        <img loading="lazy" decoding="async" class="icon"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/yes-min.png?v=1743749733"
                            alt="yes">
                        <p> 3-Stage Systems</p>
                        <span> Chips, Burrs, Hair & Paper?
                            No Problem.</span>
                    </div>
                </div>
            </div>
            <div class="cut-why-choose-layout">
                <div class="left-img">
                    <img loading="lazy" decoding="async"
                        src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Why_Choose_Our_Sharpener2-min.jpg?v=1743749733"
                        alt="2. Chipped Edge? Can’t Fix It?">
                    <div class="cut-how-to-change left">
                        <img loading="lazy" decoding="async" class="icon"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/no-min.png?v=1743749733"
                            alt="no">
                        <span>2. Chipped Edge? Can’t Fix It?</span>
                    </div>
                </div>
                <div class="right-video">
                    <video loop playsinline muted autoplay preload="auto"
                        poster="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Why_Choose_Our_Sharpener2-right.jpg?v=1743750946"
                        class="cut-lazy-video"
                        data-src="https://cdn.shopify.com/videos/c/o/v/8c3936d1634045a29c1de9367b0b042a.mp4">

                    </video>
                    <div class="cut-how-to-change right">
                        <img loading="lazy" decoding="async" class="icon"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/yes-min.png?v=1743749733"
                            alt="yes">
                        <p>5 Minutes
                        </p>
                        <span>Fix Chips with
                            #500 Diamond</span>
                    </div>
                </div>
            </div>

            <div class="cut-why-choose-layout">
                <div class="left-img">
                    <img loading="lazy" decoding="async"
                        src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Why_Choose_Our_Sharpener3-min.jpg?v=1743749733"
                        alt="3. 5 Uses Later… and It’s Useless.">
                    <div class="cut-how-to-change left">
                        <img loading="lazy" decoding="async" class="icon"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/no-min.png?v=1743749733"
                            alt="no">
                        <span>3. 5 Uses Later… and It’s Useless.</span>
                    </div>
                </div>
                <div class="right-video">
                    <video loop playsinline muted autoplay preload="auto"
                        poster="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Why_Choose_Our_Sharpener3-right.jpg?v=1743750946"
                        class="cut-lazy-video"
                        data-src="https://cdn.shopify.com/videos/c/o/v/6da4bef947a34e07ab8c4749dc36c109.mp4">

                    </video>
                    <div class="cut-how-to-change right">
                        <img loading="lazy" decoding="async" class="icon"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/yes-min.png?v=1743749733"
                            alt="yes">
                        <p> 100x Durable</p>
                        <span>4mm Diamond
                            1,000 Knives</span>
                    </div>
                </div>
            </div>

            <div class="cut-why-choose-layout">
                <div class="left-img">
                    <img loading="lazy" decoding="async"
                        src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Why_Choose_Our_Sharpener4-min.jpg?v=1743749733"
                        alt="4. Jagged Edge? Surface Scratched?">
                    <div class="cut-how-to-change left">
                        <img loading="lazy" decoding="async" class="icon"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/no-min.png?v=1743749733"
                            alt="no">
                        <span>4. Jagged Edge? Surface Scratched?</span>
                    </div>
                </div>
                <div class="right-video">
                    <video loop playsinline muted autoplay preload="auto"
                        poster="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Why_Choose_Our_Sharpener4-right.jpg?v=1743750946"
                        class="cut-lazy-video"
                        data-src="https://cdn.shopify.com/videos/c/o/v/05161f1f5f334cbd8d26f0934e305296.mp4">

                    </video>
                    <div class="cut-how-to-change right">
                        <img loading="lazy" decoding="async" class="icon"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/yes-min.png?v=1743749733"
                            alt="yes">
                        <p>Perfect Edge Line </p>
                        <span> Symmetrical Clamp
                            with Rubber Protection</span>
                    </div>
                </div>
            </div>

            <div class="cut-why-choose-layout">
                <div class="left-img">
                    <img loading="lazy" decoding="async"
                        src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Why_Choose_Our_Sharpener5-min.jpg?v=1743749733"
                        alt="5. 2–3 Years In… Still Can’t Sharpen Right?">
                    <div class="cut-how-to-change left">
                        <img loading="lazy" decoding="async" class="icon"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/no-min.png?v=1743749733"
                            alt="no">
                        <span>5. 2–3 Years In… Still Can’t Sharpen Right?</span>
                    </div>
                </div>
                <div class="right-video">
                    <video loop playsinline muted autoplay preload="auto"
                        poster="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/Why_Choose_Our_Sharpener5-right.jpg?v=1743750946"
                        class="cut-lazy-video"
                        data-src="https://cdn.shopify.com/videos/c/o/v/71bc645ecd204860b3725c8a1e46fcd8.mp4">
                    </video>
                    <div class="cut-how-to-change right">
                        <img loading="lazy" decoding="async" class="icon"
                            src="https://cdn.shopify.com/s/files/1/0687/6128/8960/files/yes-min.png?v=1743749733"
                            alt="yes">
                        <p> 3-Second <span>Angle Set</span>
                        </p>
                        <span> 15 Stops <br>
                            Digital Display</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- block 7 DOM -->
    <div class="cut-full-content bg-img-bottom">
        <div class="cut-header-word">
            <p class="cut-bottom-word-title"><span>90-Day</span> Risk-Free Guarantee</p>
            <p class="cut-bottom-word-subtitle"><span>100% Satisfaction</span> · Or Your Money Back</p>
            <ul class="cut-early-list-bottom">
                <li><span>90-Day Trial </span> — Risk-Free Returns</li>
                <li><span>Fast </span>& Friendly Customer Support</li>
                <li><span>Fast </span>Shipping Guarantee</li>
            </ul>

            <div class="cut-header-word-btn cut-mtp">
                <div class="cut-header-word-down">
                    <div class="cut-header-people-box">

                        <p>100 <i>Left</i></p>
                        <span>0nly 108 Slots Remaining!</span>

                    </div>
                    <div class="cut-header-word-box">
                        <div class="cut-hurry-offer"><span>Hurry!</span> offer Ends in</div>
                        <div class="cut-down-number-list">
                            <div class="cut-down-number-item">
                                <p class="cut-count-down-hours">00</p>
                                <span>Hours</span>
                            </div>
                            <div class="cut-down-number-item">
                                <p class="cut-count-down-minutes">00</p>
                                <span>Mins</span>
                            </div>
                            <div class="cut-down-number-item">
                                <p class="cut-count-down-seconds">00</p>
                                <span>Secs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#"><span>$1</span> Deposit | Claim Your Slot Now</a>
            </div>
            <div class="cut-header-word-btn-return">
                <p></p>
                <p></p>
                <p></p>
                <span>Juy1 </span> Delivery.90-Day Return .1-Year Warranty
            </div>

        </div>
        <div class="cut-header-none">&nbsp;<span></span></div>
    </div>

    <script src="https://cdn.shopify.com/s/files/1/0802/8746/5755/files/jquery.min.js?v=1743778452"></script>
    <script src="https://ricktest12.myshopify.com/cdn/shop/t/3/assets/cut.js" defer="defer"></script>